.button-container-1 {
  margin-top: 24px;
}

.h-s2-card-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center; /* Center align items vertically */
  justify-content: center;
}

.h-section-1 {
  display: flex;
  justify-content: center;
  margin: 240px 20px 80px 20px;
}

.h-section-2,
.h-section-3,
.h-section-4,
.h-section-5 {
  padding: 120px 20px;
}

.h-section-3 {
  display: flex;
  justify-content: center;
}

.h-s1-wrapper .div1 {
  width: auto;
  max-width: 500px;
}

.h-s1-wrapper .div1 h1 {
  margin-bottom: 16px;
}

/* .h-s2-card-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
} */

.h-s2-title {
  text-align: center;
  margin-bottom: 56px;
}

.h-s2-wrapper {
  margin: 0 auto;
  text-align: left;
  width: 1250px;
}

.h-s3-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1250px;
}

.h-s3-wrapper .div1,
.h-s3-wrapper .div2 {
  max-width: 500px;
}

.h-s3-wrapper .div2 h1 {
  margin-bottom: 16px;
}

.h-s3-wrapper .div2 p {
  margin-bottom: 32px;
}

.h-section-4 {
  /* background-color: black; */
  padding: 60px;
}

.h-s4-title {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 64px;
}

.h-s4-title h2 {
  margin-right: 16px;
}

.h-s4-wrapper {
  /* background-color: black; */
  margin: 0 auto;
  text-align: center;
  width: 1250px;
}

.h-s5-wrapper {
  /* background-color: black; */
  margin: 0 auto;
  text-align: left;
  width: 1250px;
}

.h-s5-wrapper .div1 {
  align-items: center;
  display: flex;
  margin-bottom: 24px;
}

.h-s5-wrapper .div1 h2 {
  margin-right: 8px;
}

.image1 {
  position: relative;
  z-index: 5; /* Decrease the z-index value */
}

.responsive {
  max-width: 100%;
  width: auto;
  height: auto;
}

.section-container {
  max-width: 1300px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.left-div {
  flex: 1;
  padding: 20px;
}

.right-div {
  flex: 1;
  padding: 20px;
  /* text-align: left; */
}

@media (max-width: 768px) {
  .section-container {
    flex-direction: column;
  }
  .right-div {
    text-align: center;
  }
}
