.button-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.div1 h1 {
  margin-bottom: 8px;
}

.MUT-section-1 {
  margin: 0 auto;
  text-align: center;
  padding: 220px 20px 80px 20px;
  max-width: 1250px;
}

.MUT-s1-wrapper {
  width: 100%;
}

.MUT-s1-wrapper .div1 {
  margin-bottom: 24px;
}

.MUT-s1-wrapper .div2 {
  margin: 0 auto;
  text-align: center;
  width: 300px;
}

.MUT-section-4 {
  margin: 0 auto;
  text-align: center;
  padding: 80px 20px 180px 20px;
  max-width: 1250px;
}

.MUT-s4-wrapper {
  width: 100%;
}

.MUT-s4-wrapper .div1 {
  margin-bottom: 24px;
}

.MUT-s4-wrapper .div2 {
  margin: 0 auto;
  text-align: center;
  width: 210px;
}

.section-container {
  max-width: 1300px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.left-div {
  flex: 1;
  padding: 20px;
}

.right-div {
  flex: 1;
  padding: 20px;
  text-align: right;
}

@media (max-width: 768px) {
  .section-container {
    flex-direction: column;
  }
  .right-div {
    text-align: center;
  }
}
